certifi==2022.12.7
chardet==3.0.4
Deprecated==1.2.4
idna==2.7
PyGithub==1.43.3
PyJWT==2.4.0
python-dotenv==0.9.1
requests==2.20.1
six==1.11.0
slackbot==0.5.3
slacker==0.9.65
urllib3==1.26.5
websocket-client==0.44.0
wrapt==1.10.11
